@import "../styles/mixin.scss";
@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.siteWrapper {
  & .heroSection {
    background: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    & .headerWrapper {
      @include flexCenter;
      height: 12vh;

      & header {
        width: 95%;
        @include flexBetween;

        & img {
          width: 8rem;
        }

        & .navbar ul {
          display: flex;
          gap: 2.2rem;
          list-style: none;
          align-items: center;
        }

        & .navbar {
          & a {
            text-decoration: none;
            color: $white;
            font-family: $barlow;
            font-weight: 600;
          }

          & li:nth-child(4) > a {
            color: $veryDarkDesaturetedBlue;
            text-decoration: none;
            font-family: $fraunces;
            font-weight: 700;
            font-size: 0.8rem;
            background-color: $white;
            border: none;
            border-radius: 2rem;
            padding: 0.7rem 1rem;
            transition: 0.3s;
            cursor: pointer;
          }

          & li:nth-child(4) > a:hover {
            color: $white;
            background: hsla(0, 0%, 100%, 0.37);
          }
        }
      }
    }
  }

  & .heroHeadingWrapper {
    text-align: center;

    & h1 {
      color: $white;
      font-family: $fraunces;
      font-size: 3rem;
      letter-spacing: 0.5rem;
      margin: 2rem 0 4rem 0;
      font-weight: 900;
    }
  }

  & .articles {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 82% 82%;
  }

  & .firstArticle {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .leftSide {
      @include flexCenter;

      & div:first-child {
        max-width: 70%;
        gap: 2rem;
        display: flex;
        flex-direction: column;

        & label {
          font-family: $fraunces;
          font-size: 2.9rem;
          font-weight: 900;
          color: $veryDarkDesaturetedBlue;
        }

        & p {
          font-family: $barlow;
          font-weight: 600;
          color: $veryDarkDesaturetedBlue;
        }

        & a {
          position: relative;
          text-decoration: none;
          color: $veryDarkDesaturetedBlue;
          font-weight: 900;
          font-family: $fraunces;

          &:before {
            content: "";
            position: absolute;
            bottom: -0.2rem;
            left: -0.45rem;
            width: 22%;
            height: 0.7rem;
            background: hsla(51, 100%, 49%, 0.404);
            z-index: -1;
            border-radius: 0.5rem;
            transition: 0.35s;
          }
        }
      }
    }

    & div:nth-child(2) {
      background: url("../images/desktop/image-transform.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
    }
  }

  & .secondArticle {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .leftImage {
      background: url("../images/desktop/image-stand-out.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
    }

    & .rightSide {
      @include flexCenter;

      & div:first-child {
        max-width: 70%;
        gap: 2rem;
        display: flex;
        flex-direction: column;

        & label {
          font-family: $fraunces;
          font-size: 2.9rem;
          font-weight: 900;
          color: $veryDarkDesaturetedBlue;
        }

        & p {
          font-family: $barlow;
          font-weight: 600;
          color: $veryDarkDesaturetedBlue;
        }

        & a {
          position: relative;
          text-decoration: none;
          color: $veryDarkDesaturetedBlue;
          font-weight: 900;
          font-family: $fraunces;

          &:before {
            content: "";
            position: absolute;
            bottom: -0.2rem;
            left: -0.45rem;
            width: 22%;
            height: 0.7rem;
            background: hsla(7, 99%, 70%, 0.493);
            z-index: -1;
            border-radius: 0.5rem;
            transition: 0.35s;
          }
        }
      }
    }
  }
}
