@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin gridCenter {
  display: grid;
  justify-items: center;
  align-items: center;
}
