@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@mixin gridCenter {
  display: grid;
  justify-items: center;
  align-items: center;
}
@mixin laptop {
  @media (max-width: 1084px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin miniTablet {
  @media (max-width: 640px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 390px) {
    @content;
  }
}
